@tailwind base;
@tailwind components;
@tailwind utilities;

.orifice-chart-container {
  width: 100%;
  height: 320px;
}

@media (min-width: 640px) {
  .orifice-chart-container {
    height: 380px;
  }
}

@media (min-width: 768px) {
  .orifice-chart-container {
    height: 430px;
  }
}
